body{
    margin: 0;
}
.app {
    text-align: center;
  }
  
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
  }
  
  .app-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .app-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.dashboard-content-body {
  margin-left: 240px;
  padding-top: 70px;
  display: block;
  min-height: calc(100vh - 140px);
  position: relative;
  padding-bottom: 70px;
  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;
}
.main-content-wrapper {
  display: block;
  padding: 20px;
}
.dashboard-content-body.closed {
  margin-left: 70px;
}